body{
  max-width: 500px;
  margin: 2% auto;
}
.container-fluid, .form-group{
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
h1{
  display: flex;
  justify-content: center;
  color: black;
  font-weight: 700;
  margin: 5rem 0;
  font-size: 3rem;
}
.form-horizontal{
  margin-top: 15px;
}

.btn{
  color: rgb(1, 196, 251);
  background-color: black;
}
.btn:hover{
  background-color: rgb(1, 196, 251);
  color: black;
}
.qr-code {
  max-width: 200px;
  margin-top: 5rem;
  border: 2px rgb(1, 196, 251) solid;
}